[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Template repository for Chocolatey Automatic Package Updater Module
[access "refs/*"]
	owner = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	label-Verified = -1..+1 group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	push = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	read = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	rebase = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	removeReviewer = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	submit = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
[access "refs/heads/*"]
	create = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	push = +force group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	pushMerge = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	read = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
[access "refs/tags/*"]
	push = group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
	push = +force group user/andriy melnyk ╔╬═╚╗╠ ╠╣╔╦╣╚╗ ╔╬╗╚╗╚╝ (turboBasic)
